<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Login - Northsea</title>
	<meta name="description" content="Login page for Northsea Survyes">
	<meta name="author" content="Daniel Perks">
	<link href="{{host}}/reset.css" type="text/css" rel="stylesheet" />
	<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
</head>

<body>
	<nav class="topnav">
		<a href="/"><img src="{{host}}/images/logowide.png" class="logotop" alt="Northsea Surveys Logo"></a>
		{{#if authorised}}
			<a class="typcn typcn-key" style="line-height: 45px; float:right; font-size: 30px;"></a>
			<img src="{{host}}/images/placeholder.png" class="usericontop" alt="User icon">
			<div style="float: right; text-align: right; padding-right: 1vw; line-height: 25px">
				<b>{{name}}</b><br />
				<a>{{username}}</a>
			</div>
		{{else}}
			<div style="float: right; text-align: right; padding-right: 1vw; line-height: 25px">
				<a href="/login"><b>Log In</b></a><br />
				<a href="/register">Register</a>
			</div>
		{{/if}}

	</nav>
	{{#if msg}}
		<div class="msgbox">{{msg}}</div>
	{{/if}}
	<main class="loginbox">
		<form action="/login" method="post">
			<h1>Login</h1>
			<div class="form__group_login field">
				<input type="input" class="form__field" placeholder="Username" name="username" id="user_in" required="">
				<label for="user_in" class="form__label">Username</label>
			</div>
			<br />
			<div class="form__group_login field">
				<input type="password" class="form__field" placeholder="Password" name="password" id="pass_in"
					required="">
				<label for="pass_in" class="form__label">Password</label>
			</div>
			<button id="donebut" class="completebut unlockedbut">Log In</button>
		</form>
	</main>
</body>

</html>